<%-include("../../views/partials/userPartial/header")%>

  <style>
    body {
      font-family: 'Poppins', sans-serif;
      background: #fff;
    }
    .account-banner {
      background: url('/images/banner-add-address.jpg') center/cover no-repeat;
      height: 300px;
      position: relative;
    }
    .account-title {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 42px;
      font-weight: 600;
      color: #000;
    }
    .account-wrapper {
      display: flex;
      margin-top: 40px;
    }
    .sidebar {
      width: 220px;
      background: #f3f3f3;
      padding: 30px 20px;
    }
    .sidebar h6 {
      font-weight: 600;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 14px;
    }
    .sidebar ul {
      padding-left: 0;
      list-style: none;
    }
    .sidebar ul li {
      padding: 8px 0;
      font-size: 14px;
      font-weight: 500;
    }
    .sidebar ul li.active {
      font-weight: bold;
    }
    .content-area {
      flex: 1;
      padding: 30px 40px;
    }
    .form-label {
      font-weight: 500;
      font-size: 14px;
    }
    .form-control, .form-select {
      border-radius: 0;
      border: 1px solid #ccc;
      padding: 10px;
      font-size: 14px;
    }
    .submit-btn {
      background-color: #57c9d5;
      border: none;
      color: white;
      padding: 10px 30px;
      border-radius: 25px;
      font-size: 15px;
      transition: 0.3s;
    }
    .submit-btn:hover {
      background-color: #44b0bb;
    }
    .Error-message {
      color: red;
      font-size: 0.75rem;
      display: none;
    }
  </style>
</head>
<body>

  <!-- Banner -->
  <section class="hero text-center bg-light p-0 mb-4">
    <!-- <div class="banner position-relative"> -->
        <img src="wallpaper\luxelook-wall5.jpg" alt="Shop Banner" class="img-fluid w-100"
            style="height: 400px; object-fit: cover;">
        <h1 class="position-absolute top-50 start-50 translate-middle text-white fw-bold display-4">ADD-ADDRESS
        </h1>
    <!-- </div> -->
</section>

  <!-- Wrapper -->
  <div class="container-fluid account-wrapper">
    <!-- Sidebar -->
    <div class="sidebar">
      <h6>SETTINGS</h6>
      <ul>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/profile">Personal Info</a></li>
        <li><a href="/addresses">Addresses</a></li>
        <li><a href="/wallet">Wallet</a></li>
      </ul>
    </div>

    <!-- Content Area -->
    <div class="content-area">
      <h5 class="mb-4 fw-bold">ADD ADDRESS</h5>

      <form  id="addAddressForm" action="/cart-add-address" method="POST" class="row g-3">
        <div class="col-md-6">
          <label class="form-label">Name</label>
          <input type="text"id="name" class="form-control" name="name" required>
          <div id="Error1" class="Error-message"></div>

          <div class="col-md-6">
                  <label class="form-label">State</label>
                  <select class="form-select" id ="state" name="state" required>
                      <option selected disabled>Choose a State...</option>
                      <option value="Andhra Pradesh">Andhra Pradesh</option>
                      <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                      <option value="Assam">Assam</option>
                      <option value="Bihar">Bihar</option>
                      <option value="Chhattisgarh">Chhattisgarh</option>
                      <option value="Goa">Goa</option>
                      <option value="Gujarat">Gujarat</option>
                      <option value="Haryana">Haryana</option>
                      <option value="Himachal Pradesh">Himachal Pradesh</option>
                      <option value="Jharkhand">Jharkhand</option>
                      <option value="Karnataka">Karnataka</option>
                      <option value="Kerala">Kerala</option>
                      <option value="Madhya Pradesh">Madhya Pradesh</option>
                      <option value="Maharashtra">Maharashtra</option>
                      <option value="Manipur">Manipur</option>
                      <option value="Meghalaya">Meghalaya</option>
                      <option value="Mizoram">Mizoram</option>
                      <option value="Nagaland">Nagaland</option>
                      <option value="Odisha">Odisha</option>
                      <option value="Punjab">Punjab</option>
                      <option value="Rajasthan">Rajasthan</option>
                      <option value="Sikkim">Sikkim</option>
                      <option value="Tamil Nadu">Tamil Nadu</option>
                      <option value="Telangana">Telangana</option>
                      <option value="Tripura">Tripura</option>
                      <option value="Uttar Pradesh">Uttar Pradesh</option>
                      <option value="Uttarakhand">Uttarakhand</option>
                      <option value="West Bengal">West Bengal</option>
                      <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                      <option value="Chandigarh">Chandigarh</option>
                      <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
                      <option value="Delhi">Delhi</option>
                      <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                      <option value="Ladakh">Ladakh</option>
                      <option value="Lakshadweep">Lakshadweep</option>
                      <option value="Puducherry">Puducherry</option>
                    </select>
                
            </div>
          

        <div class="col-md-6">
          <label class="form-label">Street Address</label>
          <input type="text" id="streetAddress" class="form-control" name="streetAddress" required>
          <div id="Error2" class="Error-message"></div>

        </div>
        <div class="col-md-6">
          <label class="form-label">Apartment, suite, unit etc (optional)</label>
          <input type="text" id="apartment" class="form-control" name="apartment">
          <div id="Error3" class="Error-message"></div>

        </div>

        <div class="col-md-6">
          <label class="form-label">Town / City</label>
          <input type="text" id = "city" class="form-control" name="city" required>
          <div id="Error4" class="Error-message"></div>

        </div>
        <div class="col-md-6">
          <label class="form-label">pincode / ZIP</label>
          <input type="text" id="pincode" class="form-control" name="pincode" required>
          <div id="Error5" class="Error-message"></div>

        </div>

        <div class="col-md-6">
          <label class="form-label">Phone</label>
          <input type="text" id="phone" class="form-control" name="phone" required>
          <div id="Error6" class="Error-message"></div>

        </div>
        <div class="col-md-6">
          <label class="form-label">Alternative Phone</label>
          <input type="text" id="altPhone" class="form-control" name="altPhone">
          <div id="Error7" class="Error-message"></div>

        </div>
        <div class="col-md-6">
          <label class="form-label" for="addressType">Select Address Type</label>
          <select id="addressType" name="addressType" class="form-control" required>
            <option value="" disabled selected>Select Address Type</option> <!-- Placeholder -->
            <option value="Home">Home</option>
            <option value="Work">Work</option>
            <option value="Other">Other</option>
          </select>
          <div id="Error8" class="Error-message"></div>
        </div>
        <div class="col-md-6">
          <label class="form-label d-block">Set as Default Address</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="isDefault" id="defaultYes" value="true">
            <label class="form-check-label" for="defaultYes">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="isDefault" id="defaultNo" value="false" checked>
            <label class="form-check-label" for="defaultNo">No</label>
          </div>
        </div>
        
        <div class="col-12 mt-3">
          <button type="submit" class="submit-btn">Add Address</button>
        </div>
      </form>
    </div>
  </div>

      
      <script>
        const addAddressForm = document.getElementById('addAddressForm');
      
        addAddressForm.addEventListener('submit', function (e) {
          e.preventDefault()
          const name = document.getElementById('name').value.trim();
          const phone = document.getElementById('phone').value.trim();
          const altPhone = document.getElementById('altPhone').value.trim();
          const streetAddress = document.getElementById('streetAddress').value.trim();
          const apartment = document.getElementById('apartment').value.trim();
          const city = document.getElementById('city').value.trim();
          const state = document.getElementById('state').value.trim();
          const pincode = document.getElementById('pincode').value.trim();
          const addressType = document.getElementById('addressType').value;
      
          
          if (!/^[A-Za-z\s]+$/.test(name) || name.length < 3) {
             Error1.style.display = 'block'
      Error1.innerHTML ='Name should contain only alphabets and be at least 3 characters long.';
      return;
    }

      
    if (!/^\d{10}$/.test(phone) || /^(\d)\1{9}$/.test(phone)) {
       Error6.style.display = 'block'
       Error6.innerHTML ='Phone number must be 10 digits and not all same digits.';
      return;
    }
      
    if (altPhone && (!/^\d{10}$/.test(altPhone) || /^(\d)\1{9}$/.test(altPhone||altPhone!==phone))) {
      Error7.style.display = 'block'
      Error7.innerHTML ='Alternate Phone number must be 10 digits and not all same digits.and Not same to phone.';
      return;
    }
    if (!streetAddress || !city || !state) {
       Error4.style.display = 'block'
       Error2.style.display = 'block'
     Error2.innerHTML ='Please fill  the address fields.';
     Error4.innerHTML ='Please fill  the City fields.';
      return;
    }
      
    if (!/^\d{6}$/.test(pincode) || /^(\d)\1{5}$/.test(pincode)) {
      Error5.style.display = 'block'
       Error5.innerHTML ='Pincode must be 6 digits and not all same digits.';
      return;
    }
      
    if (!addressType) {
       Error5.style.display = 'block'
       Error5.innerHTML ='Please select an address type.';
      return;
    }
          addAddressForm.submit();
        });
      </script>
      

</body>


