<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Reset Email | LuxeLook</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#FFF8F3] font-[Poppins]">

  <!-- Container -->
  <div class="min-h-screen flex justify-center items-center px-4">

    <!-- Reset Card -->
    <div
      class="w-full max-w-lg bg-[#F2E8DC] shadow-lg rounded-2xl justify-center align-items-center p-8 md:p-20 min-h-[10vh] transition-all">

      <div class="justify-center align-items-center ">
        <h2 class="text-center text-2xl md:text-3xl font-bold mb-6 text-black">
          RESET EMAIL
        </h2>

        <form class="space-y-6">

          <label for="newEmail" class="font-semibold text-base block text-black">
            Enter your new email address
          </label>

          <input type="email" name="newEmail" id="newEmail" placeholder="New Email Address" required class="w-full px-4 py-3 rounded-lg border border-[#d4c5b7] bg-white text-[15px]
                 focus:outline-none focus:ring-2 focus:ring-[#b88b6e] transition" />

          <button onclick="verifyEmail()" type="button"
            class="w-full bg-[#C26A44] hover:bg-[#a85735] text-white font-semibold py-3 rounded-full transition">
            Update Email
          </button>

        </form>
      </div>
    </div>
  </div>


  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    const emailInput = document.getElementById('newEmail');

    async function verifyEmail() {
      const res = await axios.post('/profile/reset-email', { newEmail: emailInput.value }, { validateStatus: (status) => status !== 500 })
      console.log(res)
      try {
        if (!res.data.success) {
          Swal.fire({
            icon: 'error',
            title:'Error',
            text: res.data.message
          })
        }else{
          Swal.fire({
            title:'OTP send successfully',
            icon:'success',
            text:'OTP send to the email successfully'
          }).then(()=> window.location.href = res.data.redirectUrl)
        }
      } catch (error) {
        console.log('error occure in reset email', error)
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: 'error occure in reset email'
        })
      }
    }
  </script>

</body>

</html>